/* Import Font Dancing Script */
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

* {
    font-family: 'Roboto', 'sans-serif';
}

.milieu {
    background-color: #f0f1f5;
}


.page {
    min-height: 100vh;
    /* hauteur minimale égale à 100% du viewport */
    display: flex;
    flex-direction: column;

}

/* End */

/* Sidenav */
.sidenav {
    display: block;
    background-color: white;
    color: #333;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    height: 70%;
    left: 0;
    overflow-x: hidden;
    padding-top: 5%;
    margin-top: 2%;
    position: absolute;
    border: 3px solid #d4af37;
    width: 17%;
}

.darkmode--activated .sidenav {
    background: black;
}

.sidenav .disconnect img {
    color: #333;
    margin-left: 2%;
    max-width: 20%;
}

.ProfileTitle {
    font-size: 120%;
    font-weight: bold;
    padding-top: 5%;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.darkmode--activated .ProfileTitle {
    color: white;
}


.profile {
    margin-bottom: 20px;
    margin-top: -12px;
    text-align: center;
}

.profile img {
    border-radius: 80%;
    box-shadow: 0px 0px 5px 1px grey;
    max-width: 50%;
}

.url hr {
    margin-left: 20%;
    width: 60%;
    border-top: 2px solid #d4af37;
}

.url input {
    background-color: rgb(148, 148, 148);
    color: white;
    border-radius: 28px;
    display: flex;
    font-size: 120%;
    margin-top: 40%;
    text-decoration: none;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.url input:hover,
.url .active {
    color: black;
    border-radius: 28px;
    background-color: #d4af37;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

/* End */

/* ______________________________________ Main _______________________________________ */

.form-container {
    display: flex;
}

.form {
    max-width: calc(100vw - 40px);
    width: 50%;
    height: 70%;
    background: white;
    border-radius: 8px;
    margin: 3% auto;
    padding: 1% 1.5%;
    box-sizing: border-box;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 90%;
    margin-right: 16%;
}

.darkmode--activated .form {
    background: black;
}

.darkmode--activated .form-label {
    color: white;
}

.form-group input {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: 0;
    background-color: #f0f1f5;
    transition: all .3s;
    border: 2px solid #d4af37;
}

.darkmode--activated .form-group input {
    background-color: #a0a0a0;
    color: rgb(232, 232, 232);
}

.darkmode--activated .form-group input ::placeholder {
    color: red;
}

.darkmode--activated .relative i.fa {
    border-left: 20px solid transparent;
    border-right: 30px solid rgb(132, 132, 132);
    border-bottom: 34px solid rgb(132, 132, 132);
}

.relative {
    position: relative;
}

.relative i.fa {
    position: absolute;
    top: 2px;
    right: 1px;
    width: 40px;
    text-align: center;
    border-radius: 0 4px 4px 0;
    width: 0;
    height: 0;
    z-index: 99;
    border-left: 20px solid transparent;
    border-right: 30px solid #ccc;
    border-bottom: 34px solid #ccc;
    transition: all 0.15s ease-in-out;
}

.iconify {
    margin-top: 10px;
}

.form-group .form-control:focus {
    border-color: #d4af37;
    box-shadow: inset 0px 1px 1px #d4af37, 0 0 8px #d4af37;
}

.relative input:focus+i.fa {
    border-left: 20px solid transparent;
    border-right: 30px solid #d4af37;
    border-bottom: 34px solid #d4af37;
}

input:focus+i.fa:before {
    color: rgb(176, 21, 21);
}

.input-group .form-control:not(:first-child):not(:last-child),
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child) {
    border-radius: 0 4px 4px 0;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: rgb(255, 255, 255);
}

/* --- Animated Buttons --- */

/* End */

.darkmode-toggle {
    z-index: 1000;
}