/* ________________________ CODE CSS TABLEAU PERSONNEL __________________ */

table {
    width: 40%;
    margin: auto auto;
    border-radius: 5px;
    border: 1px solid #987d25;
    margin: auto;
    font-size: 125%;
}

th {
    background-color: #8a8880;
    color: #ffffff;
    height: 30%;
    border: 1px solid #ffffff;
}

td {
    background-color: #ffffff;
    color: #333333;
    text-align: center;
    height: 20%;
    border: 1px solid #987d25;
}

tr:hover td {
    background-color: #d4af37;
    border: 1px solid white;
}

tr:hover th {
    background-color: black;
    border: 1px solid white;
    color: #d4af37;
}
