@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css');
@import url('https://unicons.iconscout.com/release/v2.1.9/css/unicons.css');

/* Nav pills */
.nav-pills .nav-link.active {
    background-color: #d4af37 !important;
    color: black !important;
    border: 1px solid black !important;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.195) !important;
    isolation: isolate;
}

.nav-pills .nav-link {
    margin-top: 1% !important;
    margin-bottom: 2% !important;
    color: black !important;
}

.table-data {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}