/* Import Font Dancing Script */
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

* {
    margin: 0;
}

.milieu {
    background-color: #f0f1f5;
}

/* End */

/* Sidenav */
.sidenav {
    background-color: white;
    color: #333;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    height: 110%;
    left: 0;
    overflow-x: hidden;
    padding-top: 5%;
    margin-top: 2%;
    position: absolute;
    border: 3px solid #d4af37;
    width: 17%;
}

.sidenav .return img {
    color: #333;
    margin-left: 2%;
    max-width: 24%;
}

.ProfileTitle {
    font-size: 120%;
    font-weight: bold;
    padding-top: 5%;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.profile {
    margin-bottom: 20px;
    margin-top: -12px;  
    text-align: center;
}

.profile img {
    border-radius: 80%;
    box-shadow: 0px 0px 5px 1px grey;
    max-width: 50%;
}

.url hr {
    margin-left: 20%;
    width: 60%;
    border-top: 2px solid #d4af37;
}

.url input {
    background-color: rgb(148, 148, 148);
    color: white;
    border-radius: 28px;
    display: block;
    font-size: 120%;
    margin-top: 40%;
    text-decoration: none;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.url input:hover, .url .active {
    color: black;
    border-radius: 28px;
    background-color: #d4af37;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

/* End */

/* ______________________________________ Main _______________________________________ */

.form {
    max-width: calc(100vw - 40px);
    width: 60%;
    height: 70%;
    background: rgba(255, 255, 255, 1);
    border-radius: 8px;
    margin: 3% auto;
    padding: 1% 1.5%;
    box-sizing: border-box;
    position: relative;
    font-family: 'Raleway', sans-serif; 
    font-size: 90%;
}

.form h2{
    margin:18px;
    padding-bottom:10px;
    width: 210px;
    color: #1e439b;
    font-size: 22px;
    border-bottom: 3px solid #ff5501;
    font-weight:600;
    margin-bottom: 30px;
}

.form-group input {
    width: 100%;
    font-family: 'Raleway', sans-serif; 
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: 0;
    background-color: #f0f1f5;
    transition: all .3s;
    
}

.relative{
    position: relative;
}

.relative i.fa:before{
    color: #444;
    padding:10px;
    position: absolute;
    left: -3px;
    text-align: center;
}

.relative i.fa{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    text-align: center;
    border-radius: 0 4px 4px 0;
    width: 0;
    height: 0;
    z-index: 99;
    border-left: 20px solid transparent;
    border-right: 30px solid #ccc;
    border-bottom: 34px solid #ccc;
    transition: all 0.15s ease-in-out;

}

.relative input:focus + i.fa{
    border-left: 20px solid transparent;
    border-right: 30px solid #d4af37;
    border-bottom: 34px solid #d4af37;
}
.relative input:focus + i.fa:before{
    color: #fff;
}
.input-group .form-control:not(:first-child):not(:last-child),
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child){
    border-radius: 0 4px 4px 0;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
    background-color: #fff;
}

/* --- Animated Buttons --- */

/* End */