@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
}

figure {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 30px;
  margin: 10px;
  border-radius: 10px;
  z-index: 1;
  overflow: hidden;
}

figure img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  mix-blend-mode: luminosity;
}

figure h1 {
  font-size: 22pt;
  line-height: 32pt;
  margin: 20px 0 0 0;
  text-align: center;
  text-decoration: underline;
}

figure figcaption p {
    font-size: 10pt;
    line-height: 20pt;
    margin: 10px 0px 10px 0px;
    text-align: center;
}
  
figure a {
  text-decoration: none;
  background: black;
  color: white;
  padding: 5px 12px;
  text-align: center;
  border-radius: 5px;
}

figure::before {
  position: absolute;
  filter: blur(40px) saturate(120%) brightness(1.1);
  font-size: 440pt;
  content: "🥪";
  z-index: -1;
  animation: rotate 12s linear infinite;
}

figure::after {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  content: "";
  background: var(--accent);
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}

figure:nth-child(1) {
  --accent: #ffeb70;
}
