@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css');
@import url('https://unicons.iconscout.com/release/v2.1.9/css/unicons.css');
@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");

#content {
    background: rgb(212, 175, 55);
    background: linear-gradient(0deg, rgba(212, 175, 55, 1) 0%, rgba(143, 49, 52, 1) 40%, rgba(212, 175, 55, 1) 80%, rgba(255, 255, 255, 1) 100%);
}

.darkmode--activated #content {
    background: rgb(191, 199, 248);
    background: linear-gradient(0deg, rgba(191, 199, 248, 1) 0%, rgba(197, 253, 200, 1) 40%, rgba(240, 227, 185, 1) 80%, rgba(255, 255, 255, 1) 100%);
}

/* .darkmode--activated .text-container {
    color: white;
} */

/* Animation scroll */
.text-container {
    margin-left: 5%;
    width: 80%;
    flex: 2;
    isolation: isolate;
}

.darkmode--activated .text-container {
    color: white;
}

.nav-button-side-container {
    position: fixed;
    justify-content: space-between;
    margin-top: 10px;
    width: 85px;
    height: 61%;
    z-index: 1000;
}

.nav-button-side {
    margin-top: 5px;
    width: 55%;
    border-radius: 0 10px 10px 0;
    border: none;
    background: none;
    text-shadow: 2px 2px 3px rgb(131, 131, 131);
}

.nav-button-side {
    background: rgb(212, 175, 55);
    background: linear-gradient(0deg, rgba(120, 0, 0, 0.5) 0%, rgba(212, 175, 55, 0.5) 100%);
}

.darkmode--activated .nav-button-side {
    background: rgb(95, 33, 125);
    background: linear-gradient(0deg, rgba(95, 33, 125, 0.5) 0%, rgba(212, 175, 55, 0.5) 100%);
}

.text-side-button {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.page-content {
    display: flex;
    flex-direction: column;
}

.navbarVert {
    display: flex;
    min-height: 100vh;
    justify-content: space-around;
    align-items: center;
    color: #42455a;
    width: 100%;
}

/* Animation Perso */
#activite {
    z-index: 1;
}

.img-container {
    flex: 1;
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
}

.img-page {
    width: 90%;
    border-radius: 10px;
}

.halteres,
.perso {
    max-width: 300px;
    max-height: 400px;
    width: 70%;
}

.halteres {
    transition: 3s;
}


.go-up {
    transform: translateY(-40vh);
}

@media screen and (max-height: 750px) {
    .text-side-button {
        writing-mode: horizontal-tb;
        text-orientation: sideways-right;
    }

    .nav-button-side-container {
        position: fixed;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        z-index: 100;
        top: 90vh;
    }

    .nav-button-side {
        margin-top: 5px;
        width: 120%;
        border-radius: 10px;
        border: none;
        text-shadow: 2px 2px 3px rgb(131, 131, 131);
    }
}


.SDS {
    width: 100%;
    max-width: 900px;
    min-width: 900px;
    height: auto;
}

.darkmode-toggle {
    z-index: 1000;
}

@media screen and (max-width: 980px) {
    .perso {
        overflow: hidden;
    }

    .text-side-button {
        writing-mode: horizontal-tb;
        text-orientation: sideways-right;
    }

    .nav-button-side-container {
        position: fixed;
        display: flex;
        justify-content: space-evenly;
        width: 80%;
        z-index: 100;
        top: 90vh;
    }

    .nav-button-side {
        margin-top: 5px;
        width: 100%;
        border-radius: 10px;
        border: none;
        text-shadow: 2px 2px 3px rgb(131, 131, 131);
    }
}

.text-container p > span{
    overflow: hidden;
}

.text-container h2 > span{
    overflow: hidden;
}

.text-container h3 > span{
    overflow: hidden;
}