body {
    background: white;
}

.page {
    min-height: 100vh;
    /* hauteur minimale égale à 100% du viewport */
    display: flex;
    flex-direction: column;

}

.haut {
    width: 100%;
    height: 120%;
    background: #D4AF37;
    display: flex;
    box-shadow:
        0px 4px 5px rgba(0, 0, 0, 0.148);
    border-radius: 5px;
}

.milieu {
    flex-grow: 1;
}

.footer {
    width: 100%;
    background-color: #D4AF37;
    color: black;
    text-align: center;
    border-radius: 5px;
    display: flex;
    font-family: 'Roboto';

    justify-content: space-between;
}

/* TOP */
/* Logo */
.logo_slogan {
    flex: 1;
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-weight: 550;
    font-style: italic;
    font-size: 140%;



}

.slogan {
    flex: 1;
}

#slogan {
    color: rgb(46, 44, 41);
}

.logo {
    flex: 2;
    width: 100%;
    height: auto;
    min-width: 100px;
}

#img_logo {
    height: auto;
    max-width: 70px;
    width: 50%;
}

.text_slogan {
    width: 100%;
    height: auto;
}

/* Boutons de navigations */
.div_button {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    flex: 3;
    display: flex;
    width: 100%;
    align-items: center;
}

.nav-button {
    background: #D4AF37;
    width: 20%;
    min-width: 140px;
    height: auto;
    color: black;
    border-radius: 5px;
    font-size: 120%;
    font-family: 'Roboto', serif;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    display: inline-block;
    outline: none;
    border: none;
}

.nav-button:hover {
    color: white;
}

.nav-button:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-button:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-button:active {
    transform: translateY(2px);
}

/* Barre de recherche */
.search-box {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
}

#search-bar {
    width: 40%;
    border: 3px solid rgb(148, 148, 148);
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black;
    background: white;
}

#searchbutton {
    width: 40px;
    height: 36px;
    border: 1px solid rgb(148, 148, 148);
    background: rgb(148, 148, 148);
    text-align: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.search-box:active {
    transform: translateY(2px);
}

/* Responsive */
@media screen and (max-width: 1000px) {
    .haut {
        flex-direction: column;
    }

    .logo_slogan {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .logo {
        max-width: 50px;
    }

    .nav-button {
        margin-bottom: 2%;
    }

    .search-box {
        flex: 2;
        margin-bottom: 2%;
    }
}

@media screen and (max-width: 500px) {
    .div_button {
        flex-direction: column;


    }
}

/* FOOTER */
.copyright {
    width: 30%;
}

.text {
    width: 30%;
}

.button-dark {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    width: 35px;
    height: 10px;
    transform: scale(1.5);
}

.ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 16px;
    width: 16px;
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.moon {
    position: absolute;
    top: 5px;
    left: 2px;
    height: 16px;
    width: 16px;
    color: #f1c40f;
    transform: rotate(180deg);
}

.sun {
    position: absolute;
    top: 0;
    left: 26px;
    height: 15px;
    width: 15px;
    color: #f39c12;
}


/* Carroussel*/