.page_profil{
    margin-top : 3%;
    display : flex;
    flex-wrap : wrap;
    justify-content : space-evenly;
    font-family:'Roboto';
}
.photo_profil{
    order :1;
    flex-shrink :1;

   
}
.description_profil{
    order :2;
    align-self : flex-start;
    flex-grow:2;
    margin-left :3%;
 
}
#profil{
    size: 70%;
}
.cv_coach{
    margin-top : 5%;
    order:3;
    
}