.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
}

/* Barre du haut */
.haut {
    margin-top: -60px;
    margin-left: -10px;
    width: 120%;
    height: min(22%, 180px);
    background-color: #D4AF37;
    position: absolute;
    display: flex;
    box-shadow:
        4px 4px 5px 10px rgba(0, 0, 0, 0.148);
}

/* Affichage des boutons */
.table_button {
    margin-top: max(4%, 80px);
    margin-left: max(150px, 25%);
    width: 10%;
    position: absolute;
}

.nav {
    top: 2%;
    width: auto;
    background-color: red;
}

.nav-item {
    background-color:#D4AF37;
    margin-left: 20px;
    width: 140px;
    height: 40px;
    color: white;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    border: none;
}

.nav-item:after {
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
        -7px -7px 20px 10px #fff9,
        -4px -4px 5px 10px #fff9,
        7px 7px 20px 10px #0002,
        4px 4px 5px 10px #0001;
    transition: all 0.9s ease;
}

.nav-item:hover {
    color: black;
    transition: all 0.9s ease;
}

.nav-item:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

.nav-item:active {
    top: 2px;
}

/* Affichage de la barre de recherche */

.search-box {
    top: 5%;
    left: 70%;
    width: 40%;
    position: fixed;
    display: flex;
    background-color: green;
}

#search-bar {
    width: 40%;
    border: 3px solid black;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black;
}

#searchbutton {
    width: 40px;
    height: 36px;
    border: 1px solid black;
    background: black;
    text-align: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.search-box:active {
    transform: translateY(2px);
}

/* Affichage du logo */
.logo {
    background-color: blue;
}

#img_logo {
    top: 2%;
    left: 2%;
    width: 5%;
    min-width: 60px;
    height: auto;
    position: fixed;
}

/* Slider */
#milieu {position: absolute;
    margin-top: 150px;
    width: 100%;
    height: auto;
    background-color: red;
}

.slider {
    
    width: 20%;
    height: 20%;
    background-color: blue;
}