.debut_accueil {

    font-family: 'Roboto';
    display : flex;
    justify-content: space-evenly;
    flex-direction : column;
  
  }
  
  .vente {
    order :1;
    color: cornflowerblue;
    text-align: center;
    margin-top : 2%;
    
  }
  
  .developpement{
    margin-top : 5%;
    margin-bottom : 5%;
    align-items: center;
    order :2;
    display :flex;
    flex-direction : row;
  }
  .citation {
    order :1; 
    margin-left : 3%;
  
  }
  
  .catch_phrase {
  
    order :2;
    color: grey;
    
    font-style: italic;
  
  }
  #carouselactu{
    order :3;
  }
  #pres_carte{
    margin : 10%;
    text-align: center;
    order :4;
  }
  #map{
    order :5;
    margin-left : 3%;
    margin-right : 3%;
  }
  #pres_coach{
    order :6;
    margin : 2%;
  }
  .row{

margin-top : 5%;
  }
  .carousel-caption {
    width: 100%;
    height: 100%;
    left: 0 !important;
  }
  
  .carousel-caption h5 {
    text-align: left;
    margin-left: 30px;
  }
  
  .carousel-caption p {
    margin-top: 40%;
    text-align: center;
  }
  
  @media screen and (max-width: 479px) {
    .carousel-caption p {
      margin-top: 20%;
      font-size: smaller;
    }
      .developpement{
        
        flex-direction : column;
      }
       .debut_accueil{
      font-size: 70%;
    }
    
  }
  
  @media screen and (min-width: 480px) and (max-width: 640px) {
    .carousel-caption p {
      margin-top: 30%;
      font-size: smaller;
    }
    .developpement{
        
      flex-direction : column;
    }
    .debut_accueil{
      font-size: 70%;
    }
  }
  
  @media screen and (min-width: 641px) {
    .carousel-caption p {
      margin-top: 40%;
    }
    .developpement{
        
      flex-direction : row;
    }

  }