.page_profil{
    
    display : flex;
    flex-direction: column;
    flex-wrap : wrap;
    justify-content : space-evenly;
    font-family:'Roboto';
    margin : 3%;
}
#pro{
    order :1;
    display : flex;
    flex-direction: row;
}
.photo_profil{
    order :1;
    flex-shrink :1;

   
}
#dispo{
    margin-bottom : 2%;
   
    
}
#RDV{
    order : 2;
    
}
.description_profil{
    order :2;
    align-self : flex-start;
    flex-grow:2;
    margin-left :3%;
 
}
#profil{
    size: 70%;
}
.cv_coach{
    margin-top : 5%;
    order:3;
    
}