/* body {
    display: flex;
    flex-direction: column;
}

.section1 {
    flex: 1;
    display: flex;
    margin-bottom: 1000px;
    margin-top: 1000px;
}

.section2 {
    flex: 3;
    width: 100%;
    margin-bottom: 10000px;
}

.img-container {
    flex: 1;
    display: flex;
    background: red;
}

.perso {
    max-width: 300px;
    max-height: 400px;
    width: 70%;
}

.halteres {
    max-width: 300px;
    max-height: 400px;
    width: 70%;
    margin-top: 40%;
    background: blue;
}

@keyframes go-up {
	from {
		margin-top: 40%;
	}
	to {
		margin-top: 0;
	}
}

@media (prefers-reduced-motion: no-preference) {
    .halteres-animation {
      animation-name: go-up 1s 1;
    }
  } */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

header h1 {
    font-size: 60px;
}

.animation {
    height: 100vh;
    background: rgb(131, 0, 0);
    position: relative;
    overflow: hidden;
}

.halteres {
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.halteres.show {
    transform: translateY(50px);
}